.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
section#intro {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 999;
  display: none;
  background: #fff;
  align-items: center;
  justify-content: center;
}
section#intro img {
  width: 150px;
  height: 150px;
}

.inner-centered {
  position: relative;
}
.inner-centered.x {
  margin: 0 auto;
  text-align: center;
}
.inner-centered.y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.inner-centered.x.y {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  display: block;
}
img.uploaded-logo {
  margin-top: 15px;
}
.form-table td p {
  display: inline-block;
}

/* Ticket Template Form Style */
.divTable {
  display: table;
  width: 100%;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 0px solid #999999;
  display: table-cell;
  padding: 10px 10px;
  position: relative;
  float: left;
  left: 0;
  top: 0;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}

/* All Tickets table style */
.ticket-table {
  font-size: 14px;
  text-align: left;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
}
.table-title {
  border: 1px solid #e0e0e0;
}
a.info-eidt {
  color: #0071a1;
  text-decoration: none;
}
a.info-delete {
  color: red;
  text-decoration: none;
}
.ticket-table tr th {
  padding: 15px 8px;
  text-align: left;
}
.ticket-table tr td {
  padding: 15px 8px;
}

.bixxs-events-hidden {
  display: none;
}

div.bixxs_events_addon_field_wrapper {
  margin-bottom: 30px;
}

div.bixxs_events_addon_field_wrapper summary {
  background: #eee;
  padding-left: 30px;
}

div.bixxs_events_addon_field_wrapper h5 {
  padding: 5px 30px;
  background-color: #eee;
}
div.bixxs_events_addon_field_wrapper h4 {
  display: inline-block;
}

.time-slot-wrap {
  display: flex;
  background-color: #f4f4f4;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 8px 5px;
  margin: 10px 0;
  max-width: 100%;
  width: 300px;
}

.time-slot-wrap input[type="number"] {
  float: none !important;
  flex: 0 0 calc(33% - 14px);
  width: calc(33% - 14px) !important;
  margin: 0 2px;
}

.wp-core-ui .button.remove-time-slot {
  line-height: 1.2;
  border-radius: 100rem;
  padding: 3px;
  margin-left: 5px;
  vertical-align: middle;
}

.ticket_master_available_tickets {
  display: none;
}

.timeslot-title {
  margin: 20px 10px 8px;
}
.ui-tab {
  margin: 0 10px;
}
.ui-tab .tab-title {
  background-color: #f0f2f6;
  padding: 12px 16px;
  color: #000;
  font-weight: 600;
  border-bottom: 1px solid #c8c8c8;
  font-size: 16px;
  cursor: pointer;
}

.ui-tab .tab-content {
  display: none;
  border: 1px solid #d8d8d8;
  padding: 16px;
}
